.team__container {
    height: 100vh;
}


.team__content {
    text-align: center;
    padding: 2rem 0;
}

.team__content h1 {
    margin-bottom: 4rem;
}

.team__content-members{ 
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem;
}

@media screen and (max-width: 900px) {
    .team__container {
        height: auto;
    }
}

@media screen and (max-width: 620px) {
    .team__content {
        padding-top: 8rem;
    }
}

