#header-active {  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-noactive{
    animation: slideUp ease-in-out 2s;
}

.header__container {
    padding: 2rem;
}

.header__content {
    padding: 0 2rem 2rem;
    text-align: center;
}

.header__buttons {
    gap: 2rem;
}


@keyframes slideUp {
    0% {
        height: 95vh;
    }
    50% {
        height: 30vh;
    }
    100% {
        height: auto;
    }
}
