@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
@import url(bases.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg-out);
  color: var(--text-color); 
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  font-size: 1.25rem;
}
