@import url(../../bases.css);

.matrix_container{
    padding: 2rem 0;
    width: 60%;
    margin: 0 auto;
}

.cell {
    padding: 2rem;
    border: 1px solid var(--bg-in);
    font-weight: bold;
}

.cell_input {
    width: 75px;
    height: 87px;
    background-color: transparent;
    outline: none;
    text-align: center;
    color: var(--text-color);
}

.matrix__error p {
    color: var(--error-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
}